<form class="{{cssClass}}" autocomplete="off">

  <div class="characterSheet">

    {{!-- Sheet Header --}}
    <!-- Column #1 -->
    <div class="sheet-header stats">

      <!-- Column #1-->
      <div class="portrait">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}">
              <div class="character-type">
        <span class="tooltip left">
          <span class="tooltip-text">{{ localize "MTA.TooltipTypeVisible" }}</span>
          <label class="checkBox">
            <input data-dtype="Boolean" name="system.isTypeKnown" type="checkbox" {{checked system.isTypeKnown}}>
            <span></span>
          </label>
        </span>
        <select name="system.characterType">
          {{#select system.characterType}}
            {{#each config.characterTypes}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>
      </div>



      <!-- Column #2 -->
      <div>
        <!-- Row #1 -->
        <h1 class="character-name"><input type="text" name="name" value="{{actor.name}}" placeholder="Name"> </h1>

        <!-- Row #2 -->
        <div class="bottomCharaBlock">
          <div class="kInput statBox big health">
            <h4 class="{{#if system.isDreaming}}dreaming{{/if}}">
              <div class="button charMacroButton calculate health tooltip">
                <span class="tooltip-text">{{ localize "MTA.TooltipCalcMaxHealth" }}</span>
                <img src="systems/WoD20/icons/gui/calculate.svg" alt="Calculate max. health.">
              </div>
              {{ localize "MTA.Health" }}
            </h4>
            <div class="gold-border"> </div>
            <div class="kMageTracker" data-type="health" data-name="system.health" data-states="max/value/lethal/aggravated" data-marked="{{system.health.marked}}" data-max="{{system.health.max}}" data-aggravated="{{system.health.aggravated}}" data-lethal="{{system.health.lethal}}" data-value="{{system.health.value}}"></div>
          </div>

          <!-- Voluntad -->
          <div class="kInput statBox big">
            <h4>
              <input class="attribute-check" id="Willpower{{actor.id}}" data-attribute="willpower" data-trait="willpower" data-attributeValue={{system.willpower.max}} data-attributeLabel="Willpower" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="Willpower{{actor.id}}">{{ localize "MTA.Willpower" }}</label>
            </h4>
            <div class="gold-border"> </div>
            <div class="split">
              <div class="niceNumber buttonsLeft">
                <input name="system.willpower.value" type="number" value="{{system.willpower.value}}" data-dtype="Number" onchange="this.value=Math.clamped(this.value,0,99);">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
              <span class="delimiter"> / </span>
              <div class="niceNumber">
                <input name="system.willpower.max" type="number" value="{{system.willpower.max}}" data-dtype="Number" onchange="this.value=Math.clamped(this.value,0,99);">
                <div class="numBtns">
                  <div class="plusBtn">+</div>
                  <div class="minusBtn">−</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- Row #3 -->
       <div>
          {{#if (eq system.characterType "Vampire")}}
            {{{bigStatBox actor false "vampire_traits.humanity"}}}
            <div class="kInput statBox big health">
              <h4>
                <input class="attribute-check" id="Clarity{{actor.id}}" data-attribute="clarity" data-trait="clarity.value" type="checkbox" data-dtype="Boolean">
              </h4>
              </div>
          {{/if}}

          <!-- Leyenda -->
          {{#if (eq system.characterType "Scion")}}
          <div class="bottomCharaBlock">
            <div class="kInput statBox big health">
              <h4>
                <input class="attribute-check" id="Legend{{actor.id}}" data-attribute="legend" data-trait="legend" data-attributeValue={{system.scion_traits.legend}} data-attributeLabel="Legend" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="Legend{{actor.id}}">{{ localize "MTA.Legend" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft">
                  <input name="system.scion_traits.legend.value" type="number" value="{{system.scion_traits.legend.value}}" data-dtype="Number" onchange="this.value=Math.clamped(this.value,0,99);">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kInput statBox big">
              <h4>
                <input class="attribute-check" id="LegendPoints{{actor.id}}" data-attribute="legend_points" data-trait="legend_points" data-attributeValue={{system.scion_traits.legend_points.max}} data-attributeLabel="LegendPoints" type="checkbox" data-dtype="Boolean">
                <label class="button attribute-button" for="LegendPoints{{actor.id}}">{{ localize "MTA.LegendPoints" }}</label>
              </h4>
              <div class="gold-border"> </div>
              <div class="split">
                <div class="niceNumber buttonsLeft">
                  <input name="system.scion_traits.legend_points.value" type="number" value="{{system.scion_traits.legend_points.value}}" data-dtype="Number" onchange="this.value=Math.clamped(this.value,0,99);">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
                <span class="delimiter"> / </span>
                <div class="niceNumber">
                  <input name="system.scion_traits.legend_points.max" type="number" value="{{system.scion_traits.legend_points.max}}" data-dtype="Number" onchange="this.value=Math.clamped(this.value,0,99);">
                  <div class="numBtns">
                    <div class="plusBtn">+</div>
                    <div class="minusBtn">−</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{/if}}


        </div>
      </div>
    </div>

    {{!-- Sheet Side --}}
    <div class="conditions">
 
      <!-- Block #2 -->
      <div class="kInput statBox">
        <h4> {{ localize "MTA.DerivedTraits" }}</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid">
          {{#each config.derivedTraits as |cvalue ckey|}}
          {{#with (lookup ../system.derivedTraits ckey)}}
            <span>
              <input class="attribute-check" id="{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-trait="derivedTraits.{{ckey}}" data-attributeValue="{{chooseNum final value}}" data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="{{cvalue}}{{../../actor.id}}">{{cvalue}}</label>
            </span>
            <input class="{{#if isModified}}{{posneg final value}}{{/if}}" value="{{chooseNum final value}}" disabled>
            <div class="niceNumber digits2" >
              <input name="system.derivedTraits.{{ckey}}.mod" type="text" placeholder="0" data-dtype="Number" onchange="Number(this.value);" value="{{numberFormat mod decimals=0 sign=true}}">
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          {{/with}}
          {{/each}}

        </div>
      </div>

      <!-- Block #2 -->
      <div class="kInput statBox">
        <h4> {{ localize "MTA.CombatTraits" }}</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid"> 
          {{#each config.combat_traits as |cvalue ckey|}}
          {{#with (lookup ../system.combat_traits ckey)}}
            <span>
              <input class="attribute-check" id="{{cvalue}}{{../../actor.id}}" data-attribute="{{ckey}}" data-trait="combat_traits.{{ckey}}" data-attributeValue="{{chooseNum final value}}" data-attributeLabel="{{cvalue}}" type="checkbox" data-dtype="Boolean">
              <label class="button attribute-button" for="{{cvalue}}{{../../actor.id}}">{{localize cvalue}}</label>
            </span>
            <input class="{{#if isModified}}{{posneg final value}}{{/if}}" value="{{chooseNum final value}}" disabled>
            <div class="niceNumber digits2" >
              <input name="system.combat_traits.{{ckey}}.mod" type="text" placeholder="0" data-dtype="Number" onchange="Number(this.value);" value="{{numberFormat mod decimals=0 sign=true}}">
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          {{/with}}
          {{/each}}

        </div>
      </div>





      <div class="items-block">

      </div>
      <div class="items-block">
        <div class="items-table">
        </div>
      </div>
      <div class="items-block">
      </div>
    </div>

    <div class="characterMacroPanel">
      <div>
        <div class="button charMacroButton rollButton tooltip">
          <span class="tooltip-text">{{ localize "MTA.TooltipSkillTest" }}</span>
          <img src="systems/WoD20/icons/gui/d10.svg" alt="Skill check.">
        </div>
        <div class="button charMacroButton perceptionButton tooltip">
          <span class="tooltip-text">{{ localize "MTA.TooltipPerceptionCheck" }}</span>
          <img src="systems/WoD20/icons/gui/perception.svg" alt="Perception check.">
        </div>
        {{#if (eq system.characterType "Mortal")}}
          <div class="button charMacroButton dissonanceButton tooltip">
            <span class="tooltip-text">{{ localize "MTA.TooltipDissonance" }}</span>
            <img src="systems/WoD20/icons/gui/macro-dissonance.svg" alt="Dissonance.">
          </div>
        {{/if}}
      </div>
    </div>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs">
      <a class="item" data-tab="attributes">{{ localize "MTA.TabAttributes" }}</a>
      {{#if (eq system.characterType "Vampire")}} <a class="item" data-tab="disciplines">{{ localize "MTA.TabDisciplines" }}</a> {{/if}}
      <a class="item" data-tab="inventory">{{ localize "MTA.TabItems" }}</a>
      <a class="item" data-tab="description">{{ localize "MTA.TabTraits" }}</a>
      {{#if (eq system.characterType "Vampire")}} <a class="item" data-tab="vampirePersona">{{ localize "MTA.TabVampireTraits" }}</a> {{/if}}

    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Attributes Tab --}}
      <div class="tab attributes" data-tab="attributes">
        {{~> "systems/WoD20/templates/actors/parts/base-attributes.hbs"}}
      </div>

      {{!-- Disciplines Tab --}}
      <div class="tab disciplines" data-tab="disciplines">
        {{~> "systems/WoD20/templates/actors/parts/vamp-disciplines.hbs"}}
      </div>

      {{!-- Item Tab --}}
      <div class="tab inventory" data-tab="inventory">
        {{~> "systems/WoD20/templates/actors/parts/base-inventory.hbs"}}
      </div>

      {{!-- Traits Tab --}}
      <div class="tab description" data-tab="description">
        <div class="item-stat-block">
          <div class="form-line">
            <label> {{#if (eq system.characterType "Vampire")}} {{/if}} </label> <input name="system.virtue" type="text" value="{{system.virtue}}" />
          </div>
          <div class="form-line">
            <label> {{#if (eq system.characterType "Vampire")}} {{/if}} </label> <input name="system.vice" type="text" value="{{system.vice}}" />
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Age"}} </label> <input name="system.age" type="number" data-dtype="Number" value="{{system.age}}" />
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Sex"}} </label> <input name="system.sex" type="text" value="{{system.sex}}" data-koptions="Female/Male"/>
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Faction"}} </label> <input name="system.faction" type="text" value="{{system.faction}}" />
          </div>
          <div class="form-line">
            <label> {{localize "MTA.Aspirations"}} </label>
            <textarea name="system.aspirations" placeholder="Aspirations">{{system.aspirations}}</textarea>
          </div>
        </div>
        {{!-- Relationships --}}
        <table class="item-table">
          <thead>
            <tr class="item-row header">
              <th class="cell header first"> 
                <span class="collapsible button fas fa-minus-square"> </span>
                <span class="sortable button" data-type="relationship">{{localize "MTA.Relationships"}}<i class="fas fa-sort"></i> </span>
              </th>
              {{#each inventory.relationship.dataset}}
                <th class="cell header"> {{this}} </th>
              {{/each}}
              <th class="cell header button item-create" data-type="relationship">{{ localize "MTA.ButtonAdd" }}</th>
            </tr>
          </thead>
          <tbody>
            {{#each inventory.relationship.items as |item iid|}}
              <tr class="item-row item" data-item-id="{{item.id}}">
                <td class="cell item-name first {{#if @last}} lastRow {{/if}}" data-item-id="{{item.id}}">
                  <div class="item-name-wrapper">
                    <div class="item-image" style="background-image: url({{item.img}})"></div>
                    <span> {{item.name}} </span>
                  </div>
                </td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{system.impression}}</td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{system.doors.value}} / {{system.doors.max}}</td>
                <td class="cell {{#if @last}} lastRow {{/if}}"> {{system.penalty}}</td>
                <td class="cell edit-delete {{#if @last}} lastRow {{/if}}">
                  <span class="button stoneButton item-edit" data-item-id="{{item.id}}" title="{{ localize 'MTA.EditItem' }}"><i class="fas fa-edit"></i></span>
                  <span class="button stoneButton item-delete" data-item-id="{{item.id}}" title="{{ localize 'MTA.DeleteItem' }}"><i class="fas fa-times-circle"></i></span>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="item-stat-block">
          <div class="form-line">
            <label> {{localize "MTA.Notes"}} </label>
            <textarea name="system.notes" placeholder="Notes">{{system.notes}}</textarea>
          </div>
          <div class="form-line">
            <label> {{localize "MTA.usesDreadPowers"}} </label>
            <label class="checkBox">
              <input data-dtype="Boolean" name="system.usesDreadPowers" type="checkbox" {{checked system.usesDreadPowers}}>
              <span></span>
            </label>
          </div>
          <div class="form-line">
            <label class="wide"> {{localize "MTA.Description"}} </label>
            <div class="wide editor-container">
              {{editor (enrichHTML system.description actor) target="system.description" button=true owner=owner editable=editable}}
            </div>
          </div>
        </div>
      </div>
      
      {{!-- Vampire Persona Tab --}}
      <div class="tab vampirePersona" data-tab="vampirePersona">
        <div class="item-stat-block">
          <div class="form-line">
            <label>{{localize "MTA.Clan"}}</label> <input name="system.clan" type="text" value="{{system.clan}}" data-koptions="Daeva/Gangrel/Mekhet/Nosferatu/Ventrue"/>
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Bloodline"}}</label> <input name="system.bloodline" type="text" value="{{system.bloodline}}" data-koptions="--Daeva--/Anvari/Children of Judas/Duchagne/Gulikan/Kallisti/Malintzin/Mortifiers of the Flesh/Nelapsi/Spina/The Asnâm/The Carnival/Toreador/Xiao/Zelani/--Gangrel--/Anavashra/Annunaku/Anubi/Barjot/Bohagande/Bruja/Carnon/Childer of the Morrigan/Dead Wolves/Matasuntha/Moroi/Nepheshim/Oberlochs/Taifa/The Mara/Vedma/--Mekhet--/Agonistes/Alucinor/Khaibit/Kuufukuji/Libitinarius/Lynx/Mnemosyne/Morbus/Norvegi/Osites/Players/Qedeshah/Sangiovanni/Tismanu/--Nosferatu--/Acteius/Azerkatil/Baddacelli/Burakumin/Calacas/Galloi/Gethsemani/Noctuku/Rakshasa/Yagnatia/--Ventrue--/Architects of the Monolith/Beni/Bron/Cassian/Deucalion/Dragolescu/Gorgons/Icarian/Licinii/Macellarius/Malkovian/Malocusians/Melissidae/Murrahin/Nahualli/Rötgrafen/Sotoha">
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Covenant"}}</label> <input name="system.covenant" type="text" value="{{system.covenant}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Rank"}}</label> <input name="system.vamp_rank" type="text" value="{{system.vamp_rank}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.AgeAsVampire"}}</label> <input name="system.vampireAge" type="number" data-dtype="Number" value="{{system.vampireAge}}" />
          </div>
          <div class="form-line">
            <label>{{localize "MTA.Banes"}}</label>
            <textarea name="system.banes" placeholder="Banes">{{system.banes}}</textarea>
          </div>
          <div class="form-line">
            <label class="wide">{{localize "MTA.Touchstones"}}</label>
            {{#each system.touchstones_vampire as |touchstone key|}}
              <label class="{{#if (isActiveVampTouchstone key ../system.vampire_traits.humanity.final)}} activeTouchstone {{/if}}"> {{convertVampTouchstone key}} </label> <input name="system.touchstones_vampire.{{key}}" type="text" value="{{touchstone}}" />
            {{/each}}
          </div> 
        </div>
      </div>

      
    </section>
  </div>
</form>